<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <!--设置静态资源不不过滤-->
    <security:http pattern="/css/**" security="none"/>
    <security:http pattern="/img/**" security="none"/>
    <security:http pattern="/js/**" security="none"/>
    <security:http pattern="/plugins/**" security="none"/>
    <security:http pattern="/login.html" security="none"/>
    <security:http pattern="/fail.html" security="none"/>

    <!--配置拦截设置-->
    <security:http auto-config="true" use-expressions="true">
        <!--拦截所有 只有登陆认证过后才能访问页面-->
        <security:intercept-url pattern="/**" access="isAuthenticated()"/>

        <!--指定登陆页面-->
        <security:form-login
                login-processing-url="/login.do"
                login-page="/login.html"
                default-target-url="/pages/main.html"
                authentication-failure-url="/fail.html"
                username-parameter="username"
                password-parameter="password"
                always-use-default-target="true"
        />
        <!--关闭跨域访问设置-->
        <security:csrf disabled="true"/>

        <!--secutity 对于内嵌文档访问策略控制-->
        <security:headers>
            <!--内嵌文档属于本网站的-->
            <security:frame-options policy="SAMEORIGIN"/>
        </security:headers>

        <!--退出设置-->
        <security:logout logout-success-url="/login.html" invalidate-session="true" logout-url="/logout.do"/>

    </security:http>

    <!--配置认证管理器-->
    <security:authentication-manager>

        <!--提供用户登陆的 用户名 密码 权限集合-->
        <!--引入数据库查询用户信息-->
        <!--使用扫包方式注册-->
        <security:authentication-provider user-service-ref="springSecurityUserService">
            <!--使用指定的密码加密策略-->
            <security:password-encoder ref="encoder"></security:password-encoder>

        </security:authentication-provider>

    </security:authentication-manager>

    <!--开启注解包扫描-->
    <context:component-scan base-package="com.itheima"/>

    <!--开启注解方式权限控制-->
    <security:global-method-security pre-post-annotations="enabled"/>


    <!--注册指定的加密器对象-->
    <bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>



</beans>